@font-face {
  font-family: 'exo2-regular';
  src: url('../fonts/Exo2-Regular.ttf');
}
@font-face {
  font-family: 'exo2-italic';
  src: url('../fonts/Exo2-Italic.ttf');
}
@font-face {
  font-family: 'exo2-black';
  src: url('../fonts/Exo2-Black.ttf');
}
@font-face {
  font-family: 'exo2-blackItalic';
  src: url('../fonts/Exo2-BlackItalic.ttf');
}
@font-face {
  font-family: 'exo2-extrabold';
  src: url('../fonts/Exo2-ExtraBold.ttf');
}
@font-face {
  font-family: 'exo2-extraboldItalic';
  src: url('../fonts/Exo2-ExtraBoldItalic.ttf');
}
